Source: ros-melodic-fetch-driver-msgs
Section: misc
Priority: extra
Maintainer: Russell Toris <rtoris@fetchrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-message-generation, ros-melodic-power-msgs, ros-melodic-std-msgs
Homepage: http://wiki.ros.org/fetch_driver_msgs
Standards-Version: 3.9.2

Package: ros-melodic-fetch-driver-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-geometry-msgs, ros-melodic-message-runtime, ros-melodic-power-msgs, ros-melodic-std-msgs
Description: Messages for the fetch_drivers package
